/* Visiblity hidden content */
.visibility-hidden {
	display: none;
}

body {
	min-height: 500px;
	font-family: Helvetica, Times, serif;
	margin: 0;
	padding: 0;
}

ul {
	list-style-type: none;
}

/* Header */
header {
	min-width: 500px;
}

.decor-header {
	background: url("../img/header-decor.svg") no-repeat;
	background-size: cover;
	width: inherit;
	height: inherit;
}

.info-header {
	display:flex;
	flex-direction: row;
	height: 103px;
	width: 100%;
	border-bottom: 10px solid #738FAF;
}

.info-header p {
	display: block;
	white-space: nowrap;
	font-family: : AvenirNext, Times, serif;
	margin: 40px 10px 23px 10px;
}

.info-header-contacts strong {
	font-size: 1.875em;
	font-weight: normal;
}

.info-header-mail {
	font-size: 1.125em;
	font-weight: normal;
	color: #9B9B9B;
	background: url("../img/Line 19.svg") no-repeat;
	background-size: contain;
}

.info-header-worktime {
	font-size: 1.250em;
	color: #738FAF;
}

/* Header nav */
.main-navigation {
	position: absolute;
	z-index: 1;
	background-color: rgba(255, 255, 255, 0.7);
	width: 100%;
}

.main-navigation .selected-item {
	color: #133869;
	background: url("../img/Line_2.svg") no-repeat;
	background-position: 50% 80%;
}

.main-navigation ul {
	text-align: center;
	font-size: 1.250em;
	text-transform: uppercase;
	color: #556988;
}

.main-navigation li {
	display: inline;
}

.main-navigation a {
	display: inline-block;
	text-decoration: none;
	color: #556988;	
	padding: 14px 24px;
	font-weight: bold;
}

.main-navigation a:hover {
	color: #133869;
}

.main-navigation a:active {
	color: rgba(63, 93, 143, 0.5);
}

/* features */ 

.features {
	height: 287px;
	background-color: rgba(216, 216, 216, 0.24);
	width: 100%;
}

.features ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	min-width: inherit;
}

.features li {
	display: inline-block;
	width: 33%;
	height: 50%;
	border-right: 1px solid #979797;
}

.features-list p {
	font-size: 1.875em;
	text-align: center;
	font-family: "Avenir Next", Times, sans-serif;
	padding-top: 130px;
	font-weight: bold;
	color: #133869;
	white-space: nowrap;
}

.features-item-1 {
	background: url("../img/feature-decor-1.svg") no-repeat;
	background-position: 50% 30%;
}

.features-item-2 {
	background: url("../img/features-decor-2.svg") no-repeat;
	background-position: 50% 30%;
}

.features-list .features-item-3 {
	background: url("../img/features-decor-3.svg") no-repeat;
	background-position: 50% 30%;
	border-right: none;
}

/* About */ 

.about {
	background-color: rgb(44, 44, 44);
	margin-top: -70px;
	height: 3084px;
	color: #ffffff;
}

.about-p {
	font-family: "Avenir Next", Times, serif;
	font-size: 4.000em;
	text-align: center;
	font-weight: bold;
	padding-top: 68px;
}

.slider-photo-about {
	background-color: #e9e7e7;
	height: 335px;
}

.about-ctip {
	font-family: "Avenir Next", Times, serif;
	font-size: 	1.500em;
	font-weight: 500;
	height: 235px;
	width: 990px;
	padding: 60px 225px 50px 225px;
	text-indent: 25px;
}

.about-bases {
	height: 1010px;
	background: url("../img/background-photo-compressor.png") no-repeat;
	background-size: contain;
}

.about-bases h2 {
	font-size: 3em;
	font-family: "Avenir Next", Times, serif;
	text-align: center;
	background-color: rgb(44, 44, 44);
	padding-bottom: 45px;
}

.about-bases-list li {
 	 background-color: rgba(216, 216, 216, 0.25);
 	 height: 144px;
 	 width: 102.8%;
 	 margin: 65px 0 0 -40px;

}

.about-bases-list p {
	font-size: 1.375em;
	color: white;
	margin: 0 150px 0 490px;
	padding: 2% 0;
}

.item-1-photo {
	background: url("../img/about-4.svg") no-repeat;
	background-position: 20% 65%;
}

.item-2-photo {
	background: url("../img/about-1.svg") no-repeat;
	background-position: 20% 50%;
}

.item-3-photo {
	background: url("../img/about-3.svg") no-repeat;
	background-position: 20% 50%;
}

.item-4-photo {
	background: url("../img/about-2.svg") no-repeat;
	background-position: 20% 75%;
}

.license h2  {
	font-size: 2.250em;
	text-align: center;
}

.license img {
	margin: 35px 180px 50px 90px;
} 

.politic {
	font-family: "Avenir Next", Times, serif;
}

.politic h2 {
	font-size: 3em;
	text-align: center;
}

.politic p {
	height: 279px;
	width: 1000px;
	font-size: 1.5em;
	padding: 60px 155px 83px 240px;
	text-indent: 25px;
}

/* Category */ 

.category {
	width: 100%;
	height: 650px;
	background-color: #6d87a5;
	margin-top: -20px;
	font-family: "Avenir Next", Times, serif;
}

.category h2 {
	font-size: 4em;
	color: white;
	text-align: center;
	padding: 57px 0 44px 0;
}

.category ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	background-color: #677f9b;
	border-top: 2px solid white;
	border-bottom: 2px solid white;
}

.category-list a {
	color: white;
	text-decoration: none;
}

.category-list li {
	display: inline-block;
	box-sizing: border-box;
	width: 24.7%;
	padding: 20px 0;
	text-align: center;
	height: 100%;
}

.category-list li:hover {
	background-color: #506c8d;
	border-left: 2px solid white;
	border-right: 2px solid white;
}

.category-list .category-item-1:hover {
	border-left: none;
}

.category-list .category-item-4:hover {
	border-right: none;
}

.category-list li p {
	font-size: 1.125em;
	margin-top: 200px;
}

.category-item-1 {
	background: url("../img/category-1.svg") no-repeat;
	background-position: 50% 30%;
}

.category-item-2 {
	background: url("../img/category-2.svg") no-repeat;
	background-position: 50% 30%;
}

.category-item-3 {
	background: url("../img/category-3.svg") no-repeat;
	background-position: 50% 30%;
}

.category-item-4 {
	background: url("../img/category-4.svg") no-repeat;
	background-position: 50% 30%;
}

/* Form */

.form {
	height: 1105px;
	background: url("../img/bg-fon.svg"),
				url("../img/bg-form.jpg");
	color: #0D3366;
}

.form b {
	display: inline-block;
	font-size: 3em;
	font-family: "Avenir Next", Times, serif;
	width: 1000px;
	height: 135px;
	margin: 66px 365px 0 53px;
}

.form-worktime {
	text-align: center;
	font-size: 1.250em;
	font-weight: bold;
}

.form form {
	height: 400px;
	width: 735px;
	margin: 5% 25%;
}

.form input {
	width: 100%;
	height: 53px;
	border-radius: 12px;
	font-size: 1.5em;
}

.form ul {
	display: inline-block;
	padding-bottom: 56px;
}

.form li {
	padding-top: 55px;
	width: 300px;
}

textarea {
	resize: none;
	font-size: 1.5em;
	border-radius: 12px;
}

.btn-form {
	height: 70px;
	width: 	235px;
	margin: 0 35%;
	border-radius: 12px;
	font-size: 1.5em;
	background-color: #0D3366;
	color: white;
	border-style: none;
}

.btn-form:hover {
	background-color: #506c8d;
}

.btn-form:active {
	background-color: #728FB1;
}

.form-consultant {
	font-size: 1.3em;
	font-weight: bold;
}

/* footer */ 

footer {
	width: 100%;
	height: 300px;
	background-color: #383838;
}

footer ul {
	display: inline-block;
	margin-left: 50px;
	margin-top: 50px;
}

footer li {
	padding-bottom: 45px;
}

footer a {
	text-decoration: none;
	color: white;
}

.second-nav {
	position: relative;
}

.copyright {
	display: block;
	color: #9b9b9b;
}

.contacts-number {
	float: right;
}